@tailwind base;
@tailwind components;
@tailwind utilities;

.register-image{
    background-image: url('../img/Beautiful.jpg');
}




.no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* ion-icon {
    color: white;
  }

  ion-icon:hover {
    color: orange;
  } */

  #shipping-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
