<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/output.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Payment Details</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  
</head>

<body class="font-[Poppins] bg-white h-full no_scrollbar">
    <header class="bg-black fixed top-0 w-[100%]">
        <nav class="flex justify-between items-center w-[92%] mx-auto ">
            <div class="z-10">
                <a href="../home/index.html" class="flex items-center">
                    <img class="w-16" src="../img/main/happy.png" alt="">
                    <h1 class="text-white pl-4 invisible md:visible">GoodStuff</h1>
                </a>
            </div>
            <div
                class=" nav-links duration-500 md:static left-0 absolute text-white md:min-h-fit min-h-[30vh] top-[-300%] md:w-auto w-full lg:ml-46 ml-0 bg-black  ">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8x pt-14 md:pt-0 ml-8 md:ml-0">
                    <li>
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" data-dropdown-trigger="click"
                            type="button" class="hover:text-orange-500 my-2">Muži</button>
                        <!-- Dropdown menu -->
                        <div id="dropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 "
                                aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a href="../products/products.html"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                        s krátkym</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                        s dlhým</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Mikiny</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Rifle</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Kraťase</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" data-dropdown-trigger="click"
                        type="button" class="hover:text-orange-500 my-2">Ženy</button>
                    <!-- Dropdown menu -->
                    <div id="dropdown"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 "
                            aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                    s krátkym</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                    s dlhým</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Mikiny</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Rifle</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Kraťase</a>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <li>
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" data-dropdown-trigger="click"
                            type="button" class="hover:text-orange-500 my-2">Deti</button>
                        <!-- Dropdown menu -->
                        <div id="dropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 "
                                aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                        s krátkym</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Tričká
                                        s dlhým</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Mikiny</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Rifle</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-orange-100 dark:hover:bg-gray-600 dark:hover:text-white">Kraťase</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-3 md:gap-6 z-10 mr-2 md:mr-0 ">
                <form >
                    <label for="default-search"
                        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                            class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Vyhľadať" required>
                    </div>
                </form>
                <a class="text-2xl font-semibold cursor-pointer md:hidden text-white hover:text-orange-400 mt-2">
                    <ion-icon onclick="onToggleMenu(this)" name="grid-outline"
                       ></ion-icon>
                </a>
                    <a href="../shoppingCart/shoppingCart.html" class="text-2xl font-semibold cursor-pointer text-white hover:text-orange-400 mt-2">
                        <ion-icon name="cart-outline"
                            ></ion-icon>
                    </a>
                    <a href="../login/login.html" class="text-2xl font-semibold cursor-pointer text-white hover:text-orange-400 mt-2">
                        <ion-icon name="person-outline"
                             ></ion-icon>
                    </a>

            </div>

        </nav>
    </header>

    <main class="w-[80%] mt-24 mx-auto">
        <div class="flex">
            <div class="m-auto">
                <div>
                    <div id="shipping-box" class="mt-5 bg-white rounded-lg pt-3">
                        <div class="flex flex-row">
                            <div class="w-full py-5 pl-5">
                                <div class="w-[60%] sm-max:w-[90%] mx-auto flex text-center">
                                    <img src="../img/payment/location.svg" alt="" class="w-6 h-6 sort-icon mr-1">
                                    <h1 class="inline md:text-2xl font-semibold leading-none sm-max:text-[12px]">
                                        Detaily platby kartou
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="px-5 pb-3">
                            <input placeholder="Čislo karty" id="card-number" name="card-number" required
                                class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base  bg-gray-200 rounded-lg ">
                            <input placeholder="Meno držiteľa karty" type="text" id="card-holder-name"
                                name="card-holder-name" required
                                class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base  bg-gray-200 rounded-lg ">
                            <div class="flex">
                                <div class="flex-grow w-1/4 pr-2">
                                    <input placeholder="Expiračný dátum" type="month" id="expiration-date"
                                        name="expiration-date" required
                                        class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base  rounded-lg bg-gray-200 ">
                                </div>
                                <div class="flex-grow">
                                    <input placeholder="CVV" type="number" id="cvv" name="cvv" required
                                        class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base rounded-lg bg-gray-200">
                                </div>
                            </div>
                            <div class=" pt-3 mt-2">
                                <label for="safeAdress" class=" flex items-center block ml-2 text-sm text-gray-900">
                                    <input type="checkbox"
                                        class="w-4 h-4 text-black bg-gray-300 border-none rounded-md">
                                    <span class="pl-2 pt-1">
                                        Ulož ako predvolenú kartu pre tvoj profil
                                    </span>
                                </label>
                            </div>
                        </div>

                        <hr class="mt-4">
                        <div class="flex flex-row p-2 pl-5 mt-3 ml-4 pb-5">

                            <button type="button"
                                class="flex items-center text-white bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-2.5  bg-gray-600 hover:bg-orange-400 dark:focus:ring-gray-800 mr-4">
                                <img src="../img/payment/cart-outline.svg" alt="" class="w-6 h-6 sort-icon invert">
                                <span class="pl-2 mx-1"><a href="pickPayment.html">Naspať</a></span>
                            </button>

                            <button type="button"
                                class="flex items-center text-white bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-2.5  bg-gray-600 hover:bg-orange-400 dark:focus:ring-gray-800 mr-4">
                                <img src="../img/payment/card-outline.svg" alt="" class="w-6 h-6 sort-icon invert">
                                <span class="pl-2 mx-1">Kúpiť</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>




    <footer
        class="mt-5 fixed bottom-0 left-0 z-20 w-full p-4 bg-black text-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">

        <span class="text-sm  sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">
                FIIT Mafial™</a>. All Rights Reserved.
        </span>

        <ul class="flex flex-wrap items-center mt-3 text-sm sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer>

    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e) {
            e.name = e.name === "grid-outline" ? "close" : "grid-outline";
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
</body>

</html>